USE [ImageLibrary]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/27/2018 10:35:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Image]') AND type in (N'U'))
DROP TABLE [dbo].[Image]
GO
USE [master]
GO
/****** Object:  Database [ImageLibrary]    Script Date: 3/27/2018 10:35:15 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'ImageLibrary')
DROP DATABASE [ImageLibrary]
GO
/****** Object:  Database [ImageLibrary]    Script Date: 3/27/2018 10:35:15 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ImageLibrary')
BEGIN
CREATE DATABASE [ImageLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImageLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\ImageLibrary.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ImageLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\ImageLibrary_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImageLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImageLibrary]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/27/2018 10:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Image]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Image](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageCaption] [varchar](50) NULL,
	[ImageName] [varchar](50) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
